<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/style.css">
    <link rel="shortcut icon" href="../assets/logo_GMS.png" type="image/x-icon">
    <title>GMS</title>
</head>
<body>
    <header>
        <h1>Grupo GMS</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="servicos.html">Serviços    </a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h2>SOLUÇÕES PARA O AGRONEGÓCIO</h2>
                <a href="sobre.html" class="btn-saiba-mais">SAIBA MAIS</a>
            </div>
        </section>
        <section>
           <h2>Sobre Nós</h2>
           <p>Fundada por Carlos Moresco e Genes Ceppo, a empresa iniciou suas atividades em 2003 com arrendamentos agrícolas em Goiás. Hoje, atua com excelência no setor agropecuário.</p>
        </section>
<br>
        <section>
            <h2>Cultivos</h2>
            <div class="cultivos">
                <div class="cultivo">
                    <img src="../assets/soja_mini.png" alt="Cultivo de soja">
                    <h3>Cultivo de Soja</h3>
                    <p>A cultura da soja é uma das principais da agricultura brasileira. É uma planta leguminosa usada na alimentação humana e animal, além da produção de óleo e biocombustível. Cresce melhor em clima quente e solo fértil, com bom manejo e controle de pragas.</p>
                </div>
                <div class="cultivo">
                    <img src="../assets/milho_mini.png" alt="Cultivo de milho">
                    <h3>Cultivo de Milho</h3>
                    <p>O milho é um dos principais cereais cultivados no Brasil, sendo utilizado na alimentação humana e animal, além da produção de etanol. A planta se desenvolve melhor em solos férteis e bem drenados, com clima quente e úmido.</p>
                </div>
                <div class="cultivo">
                    <img src="../assets/algodao_mini.png" alt="Cultivo de algodão">
                    <h3>Cultivo de Algodão</h3>
                    <p>O cultivo de algodão é uma das principais atividades do agronegócio brasileiro. A planta se adapta a diferentes tipos de solo, mas prefere os mais férteis e bem drenados. O algodão é utilizado na indústria têxtil e na produção de óleo.</p>
                </div>
                 <div class="cultivo">
                    <img src="../assets/tomate_mini.png" alt="Cultivo de tomate">
                    <h3>Cultivo de Tomate</h3>
                    <p>O cultivo de tomate é uma das principais atividades do agronegócio brasileiro. A planta se adapta a diferentes tipos de solo, mas prefere os mais férteis e bem drenados. O tomate é utilizado na indústria alimentícia e na produção de molho.</p>
                </div>
                  <div class="cultivo">
                    <img src="../assets/trigo_mini.png" alt="Cultivo de trigo">
                    <h3>Cultivo de Trigo</h3>
                    <p>O cultivo de trigo é uma das principais atividades do agronegócio brasileiro. A planta se adapta a diferentes tipos de solo, mas prefere os mais férteis e bem drenados. O trigo é utilizado na indústria alimentícia e na produção de farinha.</p>
                </div>
        </section>
<br>
        <section>
            <h2>Infraestrutura</h2>
            <div id="infra">
                <div id="algodoeira">
                <img src="#" alt="#">
                <h3>Algodoeira</h3>
            </div>

                <div id="silo">
                <img src="#" alt="#">
                <h3>Silo</h3>
            </div>

                <div id="Armazem">
                <img src="#" alt="#">
                <h3>Armazém</h3>
            </div>
        </section>
    </main>
    <script src="../controllers/script.js"></script>
</body>
</html>